.wraper {
    display: flex;
    justify-content: space-between;

    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
    
    
}
.headerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.headerLogo svg {
    background-color: aliceblue;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    margin-left: 55px;
}

.headerMenu{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    text-align: center;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    width: 830px;
    height: 96px;

    
    
}

.headerMenu ul {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding-right: 100px;
    margin-left: 100px;
    margin-top: 32px;
    color: white;
    
    
}
.headerMenu ul li {
    text-decoration: none;
    list-style: none;
     
}

.headerLogo{
    color: white;
    
}
.headerLine {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -9%;
    z-index: 1;
    
}
.headerLine hr {
    height: 1px;
    background-color: white;
    color: white;
    width: 473px;
    opacity:  25.15%;
    
}