body{
    color: white;
}
.homeSpaceTarget{
    max-width: 461.76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeSpaceTargeth3 {
    font-weight: 0;
}
.homeSpaceTarget  h1{
    font-weight: 0;
}