.planetCardInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 445px;
}
.planetCardHeader {
}

.planetCardHeader ul {
  display: flex;
  
}
.planetCardHeader ul li {
    height: 19px;
left: 25.96%;
text-decoration: none;
list-style: none;
     
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  width: 37px;
}
