.planetCardInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 445px;
}
.planetCardHeader {
}

.planetCardHeader ul {
  display: flex;
  justify-content: space-between;
  height: 34px;
  max-width: 285px;
  margin: 0px;
}
.planetCardHeader ul li {
  text-decoration: none;
  list-style: none;
  top: calc(50% - 19px / 2 - 7.5px);
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin-right: 50px;
}
.planetCardTitle {
    max-width: 273px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    margin: 0;
    
}