body{
    background-image: url("../src/components/Images/home/background-home-desktop.jpg") ;
    background-color: #cccccc;
<<<<<<< HEAD
    
=======
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
>>>>>>> aaf09b753bdef9ba918351fd60d6b62e570e01ff

}